button{
    background-color: #77b8f5;
    border: none;
    padding: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
a {
    color: #05227e;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 0 16px;
    font-size: smaller;
    height: 100%;
}

.container-btns{
    height: 217px;
}